 {% extends 'base.html' %}
 {% load static %}
 {% block content %}



	<div class="inner">
		<h1>About Library</h1>
		<div>
		<p style="font-family: 'Redressed', cursive !important;">
		THAT'S THE THING ABOUT BOOKS THEY LET YOU TRAVEL WITHOUT MOVING YOUR FEET
		<br>
		<span style="float:right;font-family: 'Playfair Display', serif;">
		-- JHUMA LAHIRI
		</span>

		</p>

		</div>
		<br>




		<i>
	

		<p style="font-weight:bolder;font-family: 'Open Sans', sans-serif;">The library at PCCOER is a source of information and a gateway to Knowledge. 
		Over the years, the library has grown in its Physical space and its digital 
		space turning itself into a knowledge hub. The library plays a leadership role in today’s 
		distributed information environment, creation, organization, dissemination and preservation of 
		facts in building affiliations with students and faculty members. The Library and Information Centre 
		at PCCOER was established in the year 2014. It is well equipped with textbooks, reference books, general
			books, magazines, Journals, CD ROM, Video lectures, Online resources and other valuable reading material. 
			The library plays a vital role in enhancing the mission of the college through a treasure of knowledge which is maintained,
			organized and managed to serve the needs related to information. The library is fully computerized with an ERP system. 
			Any student can access information from any place, at any time with effective use of his ERP account. Books are classified 
			according to the Dewey Decimal 
		Classification Scheme and open access allows users direct access to the library collection</p>	</i>
	</div>

 {% endblock content %}