{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="inner">


		<h1>LIBRARY COLLECTION</h1>


<table class="table">
  <thead class="thead-dark">
		<tr>
			<th>#</th>
			<th>Department</th>
			<th>Numbers of Titles of the Books</th>
			<th>Number of Volumes</th>
		</tr>
  	</thead>
		
		<tbody style="font-family: 'JetBrains Mono', monospace;">
			<tr>
				<td>1</td>
				<td>MECHANICAL</td>
					<td>409</td>
					<td>2887</td>
				</tr>
				<tr>
				<td>2</td>  
				<td>COMPUTER</td>
					<td>357</td>
					<td>1730</td>
				</tr>
				<tr>
				<td>3</td>
				<td>E&amp;TC  </td>
					<td>385</td>
					<td>1713</td>
				</tr>
				<tr>
				<td>4</td>
				<td>CIVIL</td>
					<td>322</td>
					<td>1941</td>
				</tr>
				<tr>
				<td>5</td>
				<td>HUMANITIES &amp; SCIENCE  </td>
					<td>190</td>
					<td>1182</td>
				</tr>
				<tr>
				<td>6</td>
				<td>GENERAL </td>
					<td>101</td>
					<td>140</td>
				</tr>
				<tr>
				<td>7</td>
				<td>Total </td>
					<td>1764</td>
					<td>9593</td>
				</tr>
				<tr>
				<td>8</td>
				<td>CD'S </td>
					<td>93</td>
					<td>482</td>
				</tr>


  </tbody>

</table>
				<br>
				<h1 class="m-n" style='font-size:240%'>Print Journals</h1>
				<br>

				<p style="font-family: 'Oswald', sans-serif;font-size:150%">PCCOER library has a good collection of print Journals on Civil, Mechanical, Computer, Electronic, Applied Science & General subjects also.</p>




	</div>
{% endblock content %}
