 {% extends 'base.html' %}
 {% load static %}
 {% block content %}



	<div class="inner">

     <h1 style="text-align:center;color:red">Faculties at Library Department </h1>
     <hr>
     <br>
      <br>
       <br>
    

            <h1>Mrs. Rupali S. Sonawane <span class="pull-right"> Librarian</span></h1>
            
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <img src="{% static 'faculty/1.jpg' %}" class="img-fluid" alt="">
                    </div>

                    <div class="col-md-7" style="font-size:200%">
                                <br>

                                    <p > <b>  Qualification &nbsp; :&nbsp;&nbsp;</b> M.A .ADCSSAA M.Lib. & I.Sc. SET
                                    <br>
                                    <b>  Email &nbsp; :&nbsp;&nbsp;</b> rupali.sonawane@pccoer.in

                                    <br>
                                    <b> Experience &nbsp; :&nbsp;&nbsp;</b>  13 Years
                            
                                &nbsp;  &nbsp;&nbsp;</p>
                        
            
                    </div>
                </div>

                <hr>



            <h1>Mr. Sanjay D. Pawar<span class="pull-right"> Assistance Librarian</span></h1>
            
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <img src="{% static 'faculty/2.jpg' %}" class="img-fluid" alt="">
                    </div>

                    <div class="col-md-7" style="font-size:200%">
                                <br>

                                    <p > <b>  Qualification &nbsp; :&nbsp;&nbsp;</b>M.Lib. & I.Sc.
                                    <br>
                                    <b>  Email &nbsp; :&nbsp;&nbsp;</b>sanjay.pawar@pccoer.in

                                    <br>
                                    <b> Experience &nbsp; :&nbsp;&nbsp;</b>  13 Years
                            
                                &nbsp;  &nbsp;&nbsp;</p>
                        
            
                    </div>
                </div>

                        <hr>




            <h1>Mr. Akshay Landger<span class="pull-right"> Library Peon</span></h1>
            
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <img src="{% static 'faculty/3.jpg' %}" class="img-fluid" alt="">
                    </div>

                    <div class="col-md-7" style="font-size:200%">
                                <br>

                                    <p > <b>  Qualification &nbsp; :&nbsp;&nbsp;</b>HSC
                                    <br>
                                    <b>  Email &nbsp; :&nbsp;&nbsp;</b>akshay.landge@pccoer.in

                                    <br>
                                    <b> Experience &nbsp; :&nbsp;&nbsp;</b> 03 years
                            
                                &nbsp;  &nbsp;&nbsp;</p>
                        
            
                    </div>
                </div>


      



	</div>
    </div>

 {% endblock content %}