{% load static %}
<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <section>
            <h2>Contact Us</h2>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field half">
                        <input type="text" name="name" id="name" placeholder="Name" />
                    </div>

                    <div class="field half">
                        <input type="text" name="email" id="email" placeholder="Email" />
                    </div>

                    <div class="field">
                        <input type="text" name="subject" id="subject" placeholder="Subject" />
                    </div>

                    <div class="field">
                        <textarea name="message" id="message" rows="3" placeholder="Notes"></textarea>
                    </div>

                    <div class="field text-right">
                        <label>&nbsp;</label>

                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="primary" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
        <section>
            <h2>Contact Info</h2>

            <ul class="alt">
                <li><span class="fa fa-envelope-o"></span> <a href="http://pccoer.com/" target="_blank">&nbsp;&nbsp; Website </a></li>
                <li><span class="fa fa-phone"></span> <a href="tel:+918237238080">+91 8237 2380 80</a> </li>
                <li><span class="fa fa-map-pin"></span> Plot No. B, Sector no. 110, Gate no.1, Laxminagar, Ravet, Haveli, Pune - 412101.</li>
            </ul>

            <h2>Follow Us</h2>

            <ul class="icons">
                <li><a href="https://twitter.com/Pccoer1990" target="_blank" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a herf="https://www.facebook.com/pccoerpune/" target="_blank"  class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/pccoerpcet/?hl=en" target="_blank" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://www.linkedin.com/company/pccoer-pcet/" target="_blank" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
            </ul>
        </section>

        <ul class="co\pyright" style='color:black'>
            <li>Copyright © 2021 JAAVS startup  </li>
            <li>Made in India 	&nbsp; 🇮🇳️  	&nbsp; with	&nbsp;  ❤️</li>
            <li >With Our Supports  </li>
            <li > Abhishek  Gawade 😎️ </li>
            <li> Jay Firke</li>
            <li> Vaishnavi Bhujbal</li>
            <li> Vedant Mule </li>
            <li> Aditya Patil </li>
            <li> Sagar Mahaure</li> 
            <li>Special thanks to <span style="color:deeppink">Boxer (Motivator)</span></li>
        </ul>
    </div>
</footer>