 {% extends 'base.html' %}
 {% load static %}
 {% block content %}



	<div class="inner">
		<h1 style="text-align:center;">Head Of Department  Desk</h1>

        <div class="col-sm-12 text-center">
            <img src="{% static 'libaray_images/hod.jpg' %}" class="img-fluid" alt="" />

            <h1 class="m-n" style="color:red">Mrs. Rupali S. Sonawane</h1>
            <br>

            <p > <b>  Qualification &nbsp; :&nbsp;&nbsp;</b> M.A .ADCSSAA M.Lib. & I.Sc. SET
            <br>
            <b>  Email &nbsp; :&nbsp;&nbsp;</b> rupali.sonawane@pccoer.in

            <br>
            <b> Experience &nbsp; :&nbsp;&nbsp;</b>  13 Years
    
           &nbsp;  &nbsp;&nbsp;</p>
  </div>
  <hr>
           
        <h1 class="m-n" style="color:deeppink">Library Vision</h1>
        <br>

        <p style="font-family: 'Oswald', sans-serif;font-size:200%">

            To become the premier learning 
            resource centre that facilitates transference of
            information to fulfill the needs of users.
        </p>
        <hr>
        <h1 class="m-n" style="color:deeppink">Mission</h1>
        <br>

        <p style="font-family: 'Oswald', sans-serif;font-size:200%">

           Establishment of learning environment by enriching 
           Library resources 
           & also facilitates research & innovation through
            various sources & knowledge & information.
        </p>



      



	</div>

 {% endblock content %}