{% load static %}
<!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            	<link rel="icon" href="{% static 'favicon.ico' %}">
                <a href="index.html" class="logo">
                    <img src="{% static 'favicon.ico' %}">
                        <span class="title">Pimpri Chinchwad college of engineering & Research Ravet, Pune</span>
                </a>

            <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

        </div>
    </header>

<!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/" class="active">Home</a></li>

            <li><a href="/ebooks_list">E Resouces</a></li>
            <li><a href="/hod_desk"> Head Of Department </a></li>

            <li><a href="checkout.html">Checkout</a></li>
            <li><a href="/faculty_page">Faculty</a></li>
            
            <li>
                <a href="#" class="dropdown-toggle">About Libaray</a>

                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/event">Events</a></li>
                    <li><a href="/services">Library Services</a></li>
                    <li><a href="/rules_regulation"> Rules & Regulation</a></li>
                    <li><a href="/collection"> Library Collection</a></li>
                    
                    
                    

                </ul>
            </li>

            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </nav>