{% load static %}
<!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
                <a href="index.html" class="logo">
                    <img src="{% static 'my_img/pccoerlogo.png' %}">
                        <span class="title">Pimpri Chinchwad college of engineering & Research Ravet, Pune</span>
                </a>

            <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

        </div>
    </header>

<!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/" class="active">Home</a></li>

            <li><a href="products.html">Products</a></li>

            <li><a href="checkout.html">Checkout</a></li>

            <li>
                <a href="#" class="dropdown-toggle">About Libaray</a>

                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/event">Events</a></li>
                    <li><a href=""">Testimonials</a></li>
                    <li><a href="/rules_regulation"> Rules & Regulation</a></li>
                </ul>
            </li>

            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </nav>