 {% extends 'base.html' %}
 {% load static %}
 {% block content %}

<style type="text/css">

</style>



<div class="inner">
	<h1>Newspaper Clipping</h1>
	<div class="container-fluid">
		<div class="row">
			<div >
				<div class="row">   
                        <div class="col-sm-6 text-center">
                            <img src="{% static 'newspaper/1.jpg' %}" class="img-fluid" alt="" />
                        <br>
                        <br>
                        <hr>
                        </div>

                        <div class="col-sm-6 text-center">
                            <img src="{% static 'newspaper/2.jpg' %}" class="img-fluid" alt="" />
                             <br>
                             
                        <br>
                        <hr>
                        </div>





					<div class="col-sm-6 text-center">
						<img src="{% static 'newspaper/3.jpg' %}" class="img-fluid" alt="" />
                        <br>
                        <br>
                        <hr>
					</div>

					<div class="col-sm-6 text-center">
						<img src="{% static 'newspaper/4.jpeg' %}" class="img-fluid" alt="" />
                        <br>
                        <br>
                        <hr>

					</div>
					

                    		<div class="col-sm-6 text-center">
						<img src="{% static 'newspaper/5.jpg' %}" class="img-fluid" alt="" />
                        <br>
                        <br>
                        <hr>
					</div>

					<div class="col-sm-6 text-center">
						<img src="{% static 'newspaper/6.jpg' %}" class="img-fluid" alt="" />
                        <br>
                        <br>
                        <hr>

					</div>



				</div>
			</div>

		</div>
	</div>
</div>

 {% endblock content %}

