 {% extends 'base.html' %}
 {% load static %}
 {% block content %}




<div class="inner">
	<h1>Libaray Events</h1>
	<div class="container-fluid">
		<div class="row">
			<div >
				<div class="row">

					<div class="col-sm-12 text-center">
						<img src="{% static 'events/session-2.jpg' %}" class="img-fluid" alt="" />

						<h2 class="m-n"><a href="blog-post.html"> Training Session on DELNET</a></h2>

						<p> Mr. Rohidas B. Rathod ( Trainer Pune Region) &nbsp;|&nbsp;  20th Nov. 2018</p>
					</div>

					<div class="col-sm-4 text-center">
						<img src="{% static 'events/session-3.jpg' %}" class="img-fluid" alt="" />
					</div>

					<div class="col-sm-4 text-center">
						<img src="{% static 'events/session-4.jpg' %}" class="img-fluid" alt="" />
					</div>

					<div class="col-sm-4 text-center">
						<img src="{% static 'events/session-5.jpg' %}" class="img-fluid" alt="" />
					</div>
					<br>


					<div class="col-sm-12 text-center">

						<h2 class="m-n"><a href="blog-post.html"> Library Books collection & Library service</a></h2>

						<p> Asst. Prof. RUPALI S. SONAWANE ( LIBRARIAN) &nbsp;|&nbsp;   Prof. Sunita Barve (Technical Officer, NCL, Pune)</p>
					</div>

					
					<div class="col-sm-4 text-center">
						<img src="{% static 'events/session-7.jpg' %}" class="img-fluid" alt="" />
					</div>

					<div class="col-sm-4 text-center">
						<img src="{% static 'events/session-8.jpg' %}" class="img-fluid" alt="" />
					</div>

					<div class="col-sm-4 text-center">
						<img src="{% static 'events/session-9.jpg' %}" class="img-fluid" alt="" />
					</div>
					<br>


					<div class="col-sm-12 text-center">

						<h2 class="m-n"><a href="blog-post.html">Two Days Book Exhibition </a></h2>

						<p>24th & 25th July 2018</p>
					</div>


					<div class="col-sm-3 text-center">
						<img src="{% static 'events/Training-Session1.jpg' %}" class="img-fluid" alt="" />
					</div>

					<div class="col-sm-3 text-center">
						<img src="{% static 'events/Training-Session2.jpg' %}" class="img-fluid" alt="" />
					</div>

					<div class="col-sm-3 text-center">
						<img src="{% static 'events/Training-Session3.jpg' %}" class="img-fluid" alt="" />
					</div>
					<div class="col-sm-3 text-center">
						<img src="{% static 'events/Training-Session4.jpg' %}" class="img-fluid" alt="" />
					</div>
					<br>


					<div class="col-sm-12 text-center">

						<h2 class="m-n"><a href="blog-post.html">Library Books collection & Library services </a></h2>

						<p>Asst. Prof. RUPALI S. SONAWANE ( LIBRARIAN)  &nbsp;|&nbsp;   Prof. Sunita Barve (Technical Officer, NCL, Pune)</p>
					</div>





						<div class="col-sm-3 text-center">
						<img src="{% static 'events/event1.png' %}" class="img-fluid" alt="" />
					</div>

					<div class="col-sm-3 text-center">
						<img src="{% static 'events/event2.png' %}" class="img-fluid" alt="" />
					</div>

					<div class="col-sm-3 text-center">
						<img src="{% static 'events/event3.png' %}" class="img-fluid" alt="" />
					</div>
					<div class="col-sm-3 text-center">
						<img src="{% static 'events/event4.png' %}" class="img-fluid" alt="" />
					</div>
					<br>


					<div class="col-sm-12 text-center">

						<h2 class="m-n"><a href="blog-post.html">Library Books collection & Library services</a></h2>

						<p>Asst. Prof. RUPALI S. SONAWANE ( LIBRARIAN)  &nbsp;|&nbsp;  Prof. RajaniMeshram (Asst. Librarian Jaykar Library, University of Pune)</p>
					</div>


					<div class="col-sm-4 text-center">
						<img src="{% static 'events/libraryevent1.png' %}" class="img-fluid" alt="" />
					</div>

					<div class="col-sm-4 text-center">
						<img src="{% static 'events/libraryevent2.png' %}" class="img-fluid" alt="" />
					</div>

					<div class="col-sm-4 text-center">
						<img src="{% static 'events/libraryevent3.png' %}" class="img-fluid" alt="" />
					</div>
						
					<br>

					<div class="col-sm-4 text-center">
						<img src="{% static 'events/libraryevent4.png' %}" class="img-fluid" alt="" />
					</div>

					 <div class="col-sm-4 text-center">
						<img src="{% static 'events/libraryevent5.png' %}" class="img-fluid" alt="" />
					</div>

					<div class="col-sm-4 text-center">
						<img src="{% static 'events/libraryevent6.png' %}" class="img-fluid" alt="" />
					</div> 
					
					<br>


					<div class="col-sm-12 text-center">

						<h2 class="m-n"><a href="blog-post.html">Library Books collection & Library services</a></h2>

						<p>Asst. Prof. RUPALI S. SONAWANE ( LIBRARIAN)  ||  Prof. RajaniMeshram (Asst. Librarian Jaykar Library, University of Pune)</p>
					</div>


				</div>
			</div>

		</div>
	</div>
</div>

 {% endblock content %}

