{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="inner">


		<h1>Question Papers</h1>


<table class="table">
  <thead class="thead-dark">
		<tr>
			<th>#</th>
			<th>Department</th>
			<th>BE</th>
			<th>TE</th>
            <th>SE</th>
		</tr>
  	</thead>
		
		<tbody style="font-family: 'JetBrains Mono', monospace;">
			<tr>
				<td>1</td>
				<td>MECHANICAL</td>
                
					<td >409</td>
                    <td >56</td>
					<td>2887</td>
			</tr>

			<tr>
				<td>2</td>  
				<td>COMPUTER</td>
					<td class="btn btn-primary">357</td>
					<td>1730</td>
			</tr>


			<tr>
				<td>3</td>
				<td>E&amp;TC  </td>
					<td class="btn btn-primary">385</td>
					<td>1713</td>
			</tr>


			<tr>
				<td>4</td>
				<td>CIVIL</td>
					<td class="btn btn-primary">322</td>
					<td>1941</td>
			</tr>


            <tr>
				<td>5</td>
				<td>FE Paper</td>
					<td class="btn btn-primary">322</td>
					<td>1941</td>
			</tr>

  </tbody>

</table>
				<br>
				<h1 class="m-n" style='font-size:240%'>Print Journals</h1>
				<br>

				<p style="font-family: 'Oswald', sans-serif;font-size:150%">PCCOER library has a good collection of print Journals on Civil, Mechanical, Computer, Electronic, Applied Science & General subjects also.</p>




	</div>
{% endblock content %}
