{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="inner">


		<h1>Rules & Regulation</h1>
		
		<hr>
<span style='color:red'></span>
	
		<div class="image main">
			<img src="{% static 'images/banner-image-5-1920x500.jpg' %}" class="img-fluid" alt="" />
		</div>
				
				<h1 class="m-n">General Rules</h1>
				<br>
				<ul> 
				
					<li style="font-family: 'Oswald', sans-serif;font-size:200%">Every student must possess his/ her <span style='color:red'>Library Card</span> while making use of the Library facility .</li>
						<li style="font-family: 'Oswald', sans-serif;font-size:200%"><span style='color:red'>Two Books</span> will be issued against one Library Card.</li>
						<li style="font-family: 'Oswald', sans-serif;font-size:200%">Books will be issued to the students for <span style='color:red'>15 days</span> only. In the last page slip is pasted and stamped mentioning the <span style='color:red'> due date and the fine</span> will be 
						charged @ Re.1 per day per book from the due date till the book is returned to library.
						</li>
						<li style="font-family: 'Oswald', sans-serif;font-size:200%">Books from the special collection ,dissertation , non-book materials etc are<span style='color:red'> not to be issued outside without the permission</span> of the library at all.</li>
						<li style="font-family: 'Oswald', sans-serif;font-size:200%">Enter your <span style='color:red'>name and Sign in</span> the register kept at the entrance counter before entering library.</li>
						<li style="font-family: 'Oswald', sans-serif;font-size:200%">Library <span style='color:red'>borrower cards are not transferable</span>. The borrower is responsible for the books borrowed on his/her card.</li>
						<li style="font-family: 'Oswald', sans-serif;font-size:200%">Periodicals &amp; Journals are issued against I cards for Reading in the library only.</li>
						<li style="font-family: 'Oswald', sans-serif;font-size:200%"><span style='color:red'>Loud talking , conversations etc .</span> are strictly prohibited in the library.</li>
				</ul>

				<h1 class="m-n">Loss and Damages</h1>
				<br>

				<ul >
                                <li style="font-family: 'Oswald', sans-serif;font-size:200%">Lost book should be <span style='color:red'>replaced by Good/new copy</span> of the latest edition immediately</li>
                                <li style="font-family: 'Oswald', sans-serif;font-size:200%">In case the borrower is <span style='color:red'>unable to replace the lost book</span> ,twice the cost of books plus overdue charges will be recovered.</li>
                                <li style="font-family: 'Oswald', sans-serif;font-size:200%"><span style='color:red'>Loss of Library card</span> should be reported to the library immediately
                                </li>
                                <li style="font-family: 'Oswald', sans-serif;font-size:200%">Duplicate card will be issued <span style='color:red'>on payment of Rs.50/</span>-.</li>
                                <li style="font-family: 'Oswald', sans-serif;font-size:200%">Use the books carefully and <span style='color:red'>do not mark them or tear down the pages.</span></li>
                                <li style="font-family: 'Oswald', sans-serif;font-size:200%">Protect the books from <span style='color:red'>rain, insects and dust.</span></li>
                                <li style="font-family: 'Oswald', sans-serif;font-size:200%">Book in the <span style='color:red'>damaged condition will not be accepted that needs</span> to be replaced</li>
            	</ul>

	</div>
{% endblock content %}
