{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="inner">


		<h1>LIBRARY SERVICES</h1>
		
		<hr>
<span style='color:red'></span>
	
		<div class="image main">
			<img src="{% static 'images/banner-image-5-1920x500.jpg' %}" class="img-fluid" alt="" />
		</div>
				
				<h1 class="m-n" style='font-size:240%'> Home Lending</h1>
				<br>

				<p style="font-family: 'Oswald', sans-serif;font-size:150%">The counter for issue/return is kept open 
				between <span style='color:red'>9.00 AM. to 7.30 PM</span> Students ,teachers ,research scholars can borrow books from this counter.
				 With the help of <span style='color:red'>Bar Code Technology all the transaction</span> are being carried out</p>

				

				<h1 class="m-n" style='font-size:240%'> Current Awareness Service</h1>
				<br>

				<p style="font-family: 'Oswald', sans-serif;font-size:150%">To facilitate easy & quick access to its <span style='color:red'>collection a current
				 awareness service</span> is provided by library on regular basis. 
				 This service is in the form of contents of<span style='color:red'> current periodical through e-mail </span>
				 & <span style='color:red'>also informed about new books</span> added to library.</p>




				<h1 class="m-n" style='font-size:240%'> Reference /Referral Service</h1>
				<br>

				<p style="font-family: 'Oswald', sans-serif;font-size:150%">Library staff gives <span style='color:red'>personal 
				guidance & attention towards students & teachers</span> for searching the information & finding their quires.</p>



				<h1 class="m-n" style='font-size:240%'> Current Content Service</h1>
				<br>

				<p style="font-family: 'Oswald', sans-serif;font-size:150%">A Table of Contents of new arrival Journals are 
				<span style='color:red'>send to all faculties by mail</span> regularly.</p>


				
				<h1 class="m-n" style='font-size:240%'>Digital Library</h1>
				<br>

				<p style="font-family: 'Oswald', sans-serif;font-size:150%">In Digital Section of library has six nodes for Internet browsing , so our users can access all e contents like e-Journals, e-books ,video lectures(NPTEL Video lectures) easily.</p>


				
				<h1 class="m-n" style='font-size:240%'>Web OPAC (Online Public Access Catalogue)</h1>
				<br>

				<p style="font-family: 'Oswald', sans-serif;font-size:150%">Web OPAC provide information about Library collection ,availability ,status of Books etc.</p>


								<h1 class="m-n" style='font-size:240%'> Question Papers</h1>
				<br>

				<p style="font-family: 'Oswald', sans-serif;font-size:150%">Old question papers & syllabus copies are available in the form of softcopy & hardcopy</p>





	</div>
{% endblock content %}
